<h1>Carrito</h1>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <p>Producto: {{product.title}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio: {{product.price}}</p>
      </li>
    {{/each}}
  </ul>
  <form action="{{cartId}}/purchase" method="POST">
    <button type="submit">Completar compra</button>
  </form>
{{else}}
  <p>No se encontraron productos en el carrito.</p>
{{/if}}



