<h1>Todos los productos</h1>

<p>Tu carrito es {{cartId}}</p>

<form action="/api/products" method="GET">
  <label for="category">Categoría:</label>
  <select name="category" id="category">
    <option value="">Todas</option>
    <option value="gorras">Gorras</option>
    <option value="remeras">Remeras</option>
    <option value="accesorios">Accesorios</option>
  </select>

  <label for="sort">Ordenar por precio:</label>
  <select name="sort" id="sort">
    <option value="">Ninguno</option>
    <option value="asc">Ascendente</option>
    <option value="desc">Descendente</option>
  </select>

  <button type="submit">Filtrar</button>
</form>

{{#each products}}
<div>
  <p>{{this.title}} - {{this.price}}</p>
    <form>
      <input type="hidden" name="productId" value="{{this._id}}">
      <input type="number" name="quantity" placeholder="Cantidad" min="1" required>
      <button class="addToCartButton" data-product-id="{{this._id}}">Agregar al carrito</button>
    </form>
</div>
{{/each}}

{{#if hasPrevPage}}
<a href="/api/products?page={{prevPage}}&sort={{sort}}&category={{category}}&cartId={{cartId}}"><button>Anterior</button></a>
{{/if}}

{{page}}

{{#if hasNextPage}}
<a href="/api/products?page={{nextPage}}&sort={{sort}}&category={{category}}&cartId={{cartId}}"><button>Siguiente</button></a>
{{/if}}
<br>
<br>
<a href="/api/carts/{{cartId}}"><button>Ver Mi Carrito</button></a>

<script>
  const cartId = "{{cartId}}";

  document.querySelectorAll('.addToCartButton').forEach(button => {
    button.addEventListener('click', async (event) => {
      event.preventDefault();

      const productId = button.dataset.productId;
      const quantity = button.parentElement.querySelector('input[name="quantity"]').value;

      const data = {
        productId,
        cartId,
        quantity
      };
      console.log(data);

      try {
        const response = await fetch('/api/carts/products', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });

        if (response.ok) {
          // El producto se agregó correctamente al carrito
          console.log('Producto agregado al carrito');
        } else {
          // Hubo un error al agregar el producto al carrito
          console.error('Error al agregar el producto al carrito');
        }
      } catch (error) {
        console.error('Error de red:', error);
      }
    });
  });
</script>
